html {
	font-size: 62.5%;
	overflow-x: hidden; /* --- https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x --- */
}

body{
	background-color: #dddddd;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
	margin: 0;
}

.boxed-page{
	margin: 0 auto;
	margin-top: 15rem;
	margin-bottom: 6rem;
	position: relative;
	box-shadow: 0 15px 30px 0 rgba(5, 5, 5, 1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 1200px) {
	.boxed-page {
		width: 1024px; }
}

@media (max-width: 430px){
	.boxed-page{
		margin: 0 auto;
	}
}

.jumbotron{
	padding-top: 80px;
	padding-bottom: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	min-height: 350px;}
	@media (min-width: 1024px) {     /* --- cuando el ancho sea mayor a 1024 px --- */
		.jumbotron {				/* --- este elemento --- */
		  min-height: 45vh; } }		/* --- tendra una altura minima de 80vh --- */



  .jumbotron:before {
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }


.container-text{
	text-align: center;
	color: white;
	margin-top: 250px;
	margin-bottom: 100px;}
	h1{font-size: 50px;}

.container-text p{font-size: 25px;}




li{list-style: none; font-size: 20px; font-family: ubuntu;}

ul{
	display: flex; 
	justify-content: space-evenly; 
	height: 30px; 
	border-bottom: solid 1px #aaaaaa; 
	padding-bottom: 15px;
	padding-top: 15px;
	margin: 0;
}


.about section{
	text-align: center;
	background-color: #ffffff;
	margin: 0 auto;
	padding-top: 140px;
	padding-bottom: 140px;

}


.about section h2 {margin: 0 auto; padding-bottom: 80px;}

.about section p {margin: 0 auto; padding-left: 150px; padding-right: 150px; line-height: 1.8em;}

@media (max-width: 550px){
	.about section p{
		padding-left: 50px;
		padding-right: 50px;
	}
}


.skills{ 
		background: white;
    background: -webkit-linear-gradient(to right, rgba(245, 175, 25,0.6), rgba(241, 39, 17, 0.6));
    background: linear-gradient(to right, rgba(245, 175, 25,0.6), rgba(241, 39, 17, 0.6)); 
}



.skills .skills-text{
	text-align: center;
	color: #ffffff;
	padding-top: 80px;
}

.skills .skills-text h2{
	margin: 0 auto;
}


.skills .icons {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center;
	margin: 0px 100px;
}

.skills .icons div{
	margin:50px;
	display: flex;
	flex-direction: column;
}


.skills img{
	max-width: 100px;
	transition: all 150ms;
}

.skills img:hover{
	transform: scale(0.8);
}

.icons h3{
	margin: 0 auto;
	color:#ffffff;
}


.work{
	background-color: #eeeeee;
	text-align: center; 
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
}

.work h2{margin: 0}


.projects{
	display: flex; 
	justify-content: center;
}

.projects div{
	background-color: white;
	margin: 20px;
	max-width: 250px;
	transition: all 150ms;
	border-radius: 3%;
}

.projects div:hover{
	transform: translate(-7px,-7px);
	box-shadow: 0 15px 20px 0 rgba(5, 5, 5, 0.5), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}



.projects img{max-width: 250px;}
