body {background-color: #aa4487; display: flex; flex-direction:column-reverse; }

header {text-align: center;
	color: white;
	order:3;
}


/* Primera seccion de imagenes */


.article_01 .section_01{background-color: #ff9911;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;}

.article_01 img{width: 300px;
	background-color: #ffffff;
	border-radius: 25px;
	margin: 10px;}

.section_01 p{width: 300px;
	background-color: #55aa11;
	text-align: left;}

.article_01{ margin-top: 20px;}



/* Segunda seccion de imagenes - Arboles */


.article_02 img{
	width: 250px;
	margin: 10px;
	background-color: #55ee99;
}

.article_02 img:hover{
	transform: scale(1.25);
	border-radius: 30px;
	background-color: #54ed43;
}

.article_02 .section_01{
	background-color: red;
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.article_02 p{
	width: 250px;
}





/* Tercera seccion de imagenes - Carros */

.article_03 .section_01{
	background-color: #888888;
	padding-bottom: 100px;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.article_03 img{width: 230px; margin: 10px; background-color: #000000; transition: all 1s;}

.article_03 img:hover{transform: scale(1.2); background-color: white;}

.article_03 p{width: 230px;}






/* cuarta seccion de imagenes - deportes */

.article_04 .section_01{
	display: flex;
	flex-direction: column;
	background-color: white;

}

.article_04 .section_01 .div_deporte{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 120px;
}

/* --------   ADICIONAR LA TRANSICION EN EL ELEMENTO, NO EN EL HOVER    ---------- */

.article_04 img{width: 200px; background-color: #eeeeee; padding: 50px; margin: 5px;transition: all 1.5s 70ms;}
.article_04 img:hover{transform: rotate(360deg) scale(1.05,0.9);border-radius: 70%}


.article_04 button {width: 200px; margin: auto; margin-bottom: 50px; transition: all 1s;}
.article_04 button:hover{background-color: #dd88dd}
