:root{
    --azul-oscuro: #0b1c2c;
    --azul-medio: #1e3a5f;
    --dorado-suave: #d4af7f;
    --blanco: #f4f4f4;
    --gris-claro: #ccc;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

h1, p {
    margin: 0;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: var(--dorado-suave);
}

p{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--blanco);
}

#main-container{
    margin: 150px auto 50px;
    max-width: 1000px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#box-container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items:flex-end;
}

#box-container > div {
    flex: 1;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    color: var(--blanco);
}

#box-container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#data-science-box {
    background: linear-gradient(135deg, var(--azul-medio), var(--dorado-suave));
}

#fullstack-box {
    background: linear-gradient(135deg, #1c2f40, #c7a773);
}

#gis-box {
    background: linear-gradient(135deg, #162b3c, #d9b480);
}
