:root{
    --azul-oscuro: #0b1c2c;
    --azul-medio: #1e3a5f;
    --azul-claro: #3e5d85;
    --dorado-suave: #d4af7f;
    --blanco: #f4f4f4;
    --gris-claro: #ccc;
    --gris-medio: #979797;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    background: linear-gradient(135deg, var(--azul-medio), var(--dorado-suave));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--blanco);
}

h1, p {
    margin: 20px;
    text-align: left;
}

h1{
    font-size: 3rem;
    color: var(--azul-oscuro);
}

p{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--blanco);
}

#main-container{
    background-color: var(--gris-medio);
    margin: 150px auto 50px;
    max-width: 1000px;
    min-height: 70vh;
    box-shadow:0px 0px 5px var(--azul-medio);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:space-between;
}


#box-container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items:flex-end;
}

#box-container > div {
    flex: 1;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    color: var(--blanco);
}


#box-container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#data-science-box {
    background: linear-gradient(135deg, var(--azul-medio), var(--dorado-suave));
}

#fullstack-box {
    background: linear-gradient(135deg, #1c2f40, #c7a773);
}

#gis-box {
    background: linear-gradient(135deg, #162b3c, #d9b480);
}