
html {
	font-size: 62.5%;
	overflow-x: hidden; /* --- https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x --- */
} 


body{
	background-color: #bbbbbb;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.6rem;
}





.boxed-page{
	margin: 0 auto;
	margin-top: 6rem;
	margin-bottom: 6rem;
	position: relative;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 1200px) {
	.boxed-page {
	  width: 1024px; }
	  .boxed-page .container {
		max-width: 1080px;
		padding-left: 30px;
		padding-right: 30px; } }






.jumbotron{
	padding-top: 80px;
	padding-bottom: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	min-height: 500px;}
	@media (min-width: 1024px) {     /* --- cuando el ancho sea mayor a 1024 px --- */
		.jumbotron {				/* --- este elemento --- */
		  min-height: 50vh; } }		/* --- tendra una altura minima de 80vh --- */	



li{list-style: none; font-size: 20px; font-family: ubuntu;}

ul{
	display: flex; 
	justify-content: space-evenly; 
	height: 30px; 
	border-bottom: solid 1px #aaaaaa; 
	padding-bottom: 15px;
	padding-top: 15px;
	margin: 0;
}








.about section {display: flex; flex-direction: column;margin: 0; background-color: #dddddd;}

.about section h2,p{margin: auto;}

.about section h2{padding-top: 120px; padding-bottom: 80px;}

.about section p{padding: 50px 110px 100px 110px ;text-align: center; line-height: 1.8;}



.skills{background-color: black;}

.skills .icons {display: flex; flex-wrap: wrap; justify-content: center;}

.skills .icons div{
	background-color: #eeeeee; 
	width: 200px;
	margin:30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.skills img{width: 150px;}




.work .rectangulos{display: flex;justify-content: center;}

.work .rectangulos div{
	width: 300px;
	height: 400px;
	background-color: #dddddd;
	box-shadow: 10px 10px 15px #eeeeee;
	margin: 5px;
}